<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1>Listing Posts</h1>

  <div class="table-responsive">
    <div class="row">
      <div class="col-sm-3 col-md-6">
        <table class="table">

          <thead>
            <tr>
              <th>Title</th>
              <th>Body</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @posts.each do |post| %>
            <tr>
              <td><%= post.title %></td>
              <td><%= post.body %></td>
              <td><%= link_to 'Show', post %></td>
              <td><%= link_to 'Edit', edit_post_path(post) %></td>
              <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>

          <br>
          
        </table>
        
      </div>
    </div>
  </div>


  <%= link_to 'New Post', new_post_path %>
</div>